<head>
    <!-- * Meta Tags -->
    <!-- Unicode -->
    <meta charset="UTF-8">
    <!-- Internet Explorer Edge Support -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- * Root Colors -->
    <!-- I set it up this way so that the theme colors can be overridden very easily through JS -->
    <style id="theme--override">
        :root {}
    </style>

    <!-- * Page -->
    <!-- CSS Link -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-img.png">
    <!-- Page Title -->
    <title>freeCodeCamp | Build a Technical Documentation Page</title>
</head>